@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1A1A1A;
    color: aliceblue;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.movie-card {
  border-radius: 4px;
  overflow: hidden;
}

.trending-trailers::before {
  content: '';
  position: absolute;
  z-index: 0;
  inset: 0;
  background: rgba(0, 0, 0, 0.362);
  backdrop-filter: blur(2px);
  pointer-events: none;
}